li {
    list-style: none;
    display: inline;
}

span {
    display: block;
    border: 1px solid black;
    margin: 25px;
}

article.n-child :nth-child(even) {
    border: 1px solid black;
}

.block:not(:nth-of-type(1))::before {
    content: ",";
}

article.n-type section:nth-of-type(odd) {
    color: blue;
}

article.first-of-type aside:first-of-type {
    background: limegreen;
}

article.first-of-type section:first-of-type {
    background: purple;
}

article.three section {
    background: orange;
}

article.three :first-child {
    background: goldenrod;
}

article.three :last-child {
    background: darkslategray;
}

article::before {
    display: block;
    content:    "Article parent element";
    border: 1px dotted gray;
    background: royalblue;
}